.section-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 123%;
  color: #fff;
  margin: 0;
  max-width: 100%;
  letter-spacing: -1px;
  position: relative;
}

/*промлема с адаптацией*/
.section-title::after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: 1px solid #D9D9D9;
  position: absolute;
  bottom: -23px;
  left: 0;
}

@media screen and (max-width:768px) {
  .section-title::after {
    bottom: -21px;
  }
}

@media screen and (max-width:425px) {
  .section-title {
    font-size: 18px;
    letter-spacing: -.72px;
  }

  .section-title::after {
    bottom: -29px;
  }
}