.drop-down-menu {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  display: none;
  z-index: 1;
}

.drop-down-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 0;
}

.drop-down-menu_visible {
  display: block;
}

.drop-down-menu__content {
  width: 520px;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

.drop-down-menu__close-btn {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 24px;
  right: 23px;
  background-image: url(../../images/dropDownMenu-close-icon.svg);
  background-size: cover;
  background-color: inherit;
  border: 0;
  padding: 0;
}

.drop-down-menu__title {
  margin: 159px auto 0;
  max-width: 340px;
  font-size: 18px;
  font-weight: 500;
  line-height: 122%;
  color: #fff;
}