.header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  box-sizing: border-box;
}

.header_theme_dark-blue {
  background-color: #073042;
}

.header__menu-btn {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url(../../images/header-icon-menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 0;
}

.header__links {
  margin: 10px 21px 6px auto;
  display: flex;
  column-gap: 50px;
}

.header__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  color: white;
  margin: 0;
  text-decoration: none;
}

.header__link_background_green {
  color: #000000;
  position: relative;
  z-index: 0;
}

.header__link_background_green::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -54%;
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  background-color: #3DDC84;
  z-index: -1;
  border-radius: 3px
}


@media screen and (max-width: 1024px) {
  .header {
    max-width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__links {
    margin: 12px 12px 6px auto;
    column-gap: 26px;
  }

  .header__link {
    font-size: 10px;
    line-height: 160%;
  }

  .header__link_background_green::before {
    top: -31%;
    left: -42%;
    width: 48%;
    height: 80%;
  }
}