.techs {
  max-width: 1280px;
  padding: 101px 70px 0;
  margin: 0 auto;
  background-color: #272727;
}

.techs__subtitle {
  max-width: 600px;
  font-size: 50px;
  font-weight: 400;
  line-height: 116%;
  color: #fff;
  margin: 113px auto 0;
  text-align: center;
  letter-spacing: -2px;
}

.techs__description {
  max-width: 440px;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  color: #fff;
  text-align: center;
  letter-spacing: -.5px;
  margin: 25px auto 0;
}

.techs__list {
  width: fit-content;
  list-style-type: none;
  display: flex;
  justify-content: left;
  gap: 10px;
  padding: 0 0 101px;
  margin: 100px auto 0;
  flex-wrap: wrap;
}

.techs__technology {
  width: 90px;
  height: 60px;
  background-color: #303030;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: -.48px;
  border-radius: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}

.techs__technology_letter-case_upper {
  text-transform: uppercase;
}

@media screen and (max-width:1024px) {
  .techs {
    padding: 93px 50px 0;
  }
}

@media screen and (max-width:820px) {
  .techs__subtitle {
    margin-top: 102px;
  }

  .techs__description {
    margin-top: 22px;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -.56px;
  }

  .techs__list {
    margin-top: 82px;
    padding-bottom: 90px;
  }

  .techs__technology {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 150%;
  }
}

@media screen and (max-width:425px) {
  .techs {
    padding: 91px 18px 0;
  }

  .techs__subtitle {
    margin-top: 89px;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -1.2px;
  }

  .techs__description {
    font-size: 11px;
    line-height: 145%;
    letter-spacing: -0.44px;
    margin-top: 25px;
  }

  .techs__list {
    max-width: 178px;
    gap: 10px;
    margin-top: 50px;
  }
}