.bad-search-movies-result {
  width: 100%;
  min-height: calc(100vh - 463px);
}

.bad-search-movies-result__text {
  max-width: calc(100% - 140px);
  color: #8B8B8B;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .bad-search-movies-result__text {
    max-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 820px) {
  .bad-search-movies-result {
    min-height: calc(100vh - 492px);
  }
}

@media screen and (max-width: 425px) {
  .bad-search-movies-result {
    min-height: calc(100vh - 501px);
  }

  .bad-search-movies-result__text {
    max-width: calc(100% - 28px);
    font-size: 18px;
  }

}